- articles.each do |article|
  %article
    .article_title= link_to article.title, article
    .article_date
      = article.published_at.to_date.strftime('%b %e, %Y')
    .article_synopsis
      ~ markdown article.synopsis
    - unless article.synopsis_covers_everything?
      .article_more
        = link_to "Read more", article
    .clearfix
