- title 'Blog'
- @heading = false

.row
  .col-sm-9
    - @articles.limit(10).each do |article|
      %article
        .article_title= link_to article.title, article
        .article_date
          = article.published_at.to_date.strftime('%b %e, %Y')
        .article_synopsis
          ~ markdown article.synopsis
        - unless article.synopsis_covers_everything?
          .article_more
            = link_to "Read more", article
        .clearfix

  .col-sm-3.archive
    %h4 More Articles
    %ul
      - @articles.offset(10).each do |article|
        %li= link_to article.title, article
