article {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.article_title {
  float: left;
  font-size: 150%;
  a { color: #333388 }
}

.article_date {
  float: left;
  padding: 8px 0 0 10px;
  color: $light_gray;
}

.article_synopsis {
  clear: both;
}

.article_more {
  float: right;
  margin-right: 10px;
}

.archive {
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }
}
