nav.navbar {
  min-height: 100px;
  // background-image: url('chair.jpg'); # See navbar_random_image_helper
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-default {
  .navbar-brand {
    color: white;
    font-size: 22px;
  }

  .navbar-nav {
    > li > a {
      color: white;
      &:hover,
      &:focus {
        color: #ddd;
      }
    }

    > .active > a {
      color: orange;
      font-weight: bold;
      background-color: inherit;
    }
  }

  .navbar-toggle {
    border-color: white;

    .icon-bar {
      background-color: white;
    }
  }
}

.center { text-align: center; }
